:root {
	/* size and distance - golden ratio */
	--max: 1400px;
	--min: 320px;

	--gs: clamp(0.618rem, 0.5723rem + 0.2289vi, 0.7726rem);
	--g0: clamp(1rem, 0.9259rem + 0.3704vi, 1.25rem);
	--g1: clamp(1.618rem, 1.4981rem + 0.5993vi, 2.0225rem);
	--g2: clamp(2.6179rem, 2.424rem + 0.9696vi, 3.2724rem);
	--g3: clamp(4.2358rem, 3.922rem + 1.5688vi, 5.2948rem);
	--g4: clamp(6.8535rem, 6.3459rem + 2.5383vi, 8.5669rem);

	/* color palette */
	--oil: 0, 0%, 5%;
	--obsidian: 198, 31%, 6%;
	--coal: 198, 31%, 6%;
	--rome: 7, 96%, 9%;
	--shell: 24, 100%, 97%;
	--snow: 0, 100%, 99%;

	--text: hsla(var(--oil), 1);
	--primary: hsla(var(--rome), 1);
	--secondary: hsla(var(--coal), 1);
	--light: hsla(var(--snow), 1);
	--dark: hsla(var(--obsidian), 1);

	--background: hsla(var(--shell), 1);
	--background09: hsla(var(--shell), 0.9);
	--background07: hsla(var(--shell), 0.7);
	--background05: hsla(var(--shell), 0.5);
	--background03: hsla(var(--shell), 0.3);

	color-scheme: light;
	color: var(--text);
	background-color: var(--background);

	/* https://modernfontstacks.com/  */
	--font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
		'DejaVu Sans Mono', monospace;

	font-family: var(--font);
	font-size: 100%;
	text-align: left;
	cursor: default;
	font-synthesis: none;
	text-rendering: optimizeSpeed;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* typography */
h1,
h2,
h3,
h4,
p,
a {
	line-height: 1.61em;
	max-width: 35em;
	letter-spacing: 0.03em;
}

/* h1 {
	font-size: var(--g3);
	line-height: 1em;
	transform: rotate(90deg);
} */

h2 {
	font-size: var(--g2);
}

h3 {
	font-size: var(--g1);
}

h2,
h3,
h4 {
	font-weight: 600;
}

h4,
h1,
p,
a {
	font-size: var(--g0);
}

p {
	color: var(--dark);
}

a,
h1 {
	color: var(--primary);
	text-decoration: none;
	border: none;
	background: transparent;
	cursor: pointer;
	font-weight: 800;
}

a {
	margin: 0 var(--gs);
}
/* layout */
html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

header,
footer {
	width: 100%;
	max-width: var(--max);
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0 var(--gs);
	position: fixed;
	z-index: 10;
}

header {
	justify-content: space-between;
	top: 0;
	background-image: linear-gradient(
		to bottom,
		var(--background),
		var(--background09),
		var(--background07),
		var(--background05),
		var(--background03),
		transparent
	);
}

footer {
	justify-content: flex-start;
	bottom: 0;
	padding-bottom: var(--g0);
	background-image: linear-gradient(
		to top,
		var(--background),
		var(--background09),
		var(--background07),
		var(--background05),
		var(--background03),
		transparent
	);
}

/* neon */
a:hover {
	color: var(--light);
	transition: color 0.1s ease-in;
	animation: neon 1s ease-in-out infinite alternate;
}

a:hover h1 {
	color: var(--background09);
	transition: color 0.3s ease-in;
}

@keyframes neon {
	from {
		text-shadow: 0 0 10px var(--dark), 0 0 20px var(--dark),
			0 0 30px var(--dark), 0 0 40px var(--primary), 0 0 70px var(--primary),
			0 0 80px var(--primary), 0 0 100px var(--primary),
			0 0 150px var(--primary);
	}
	to {
		text-shadow: 0 0 5px var(--dark), 0 0 10px var(--dark), 0 0 15px var(--dark),
			0 0 20px var(--primary), 0 0 35px var(--primary), 0 0 40px var(--primary),
			0 0 50px var(--primary), 0 0 75px var(--primary);
	}
}
